body {
  margin: 0 ;
  padding: 0 ;
  box-sizing: border-box;

  font-family:"roboto";
  font-size: 16px ;
  line-height: 24px;
  font-weight: 500 ;
  color: #000000 ;

  background-color: #ffffff ;
/*  background-image: url(../img/nerds-index.jpg);*/
  background-repeat: no-repeat;
  background-position:  center top;
  background-attachment: scroll  ;
}
* {
  box-sizing: inherit;
}


.visually-hidden {
  position: absolute;

  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;

  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}
h1{
  font-size: 16px;
  line-height: 24px;
  color: #283136 ;
}
a {
  text-decoration: none;
}
.main-header {
  background-color: #eeeeee ;
}
.main-navigation ul {
  list-style: none ;
}
.site-navigation{
  text-align: center;
}
.site-navigation  a,
.user-navigation  a {
  color: #000000 ;
  font-size: 16px;
  font-weight: 600 ;
  line-height: 30px;
  text-transform: uppercase;
}
.site-navigation  a:hover,
.user-navigation  a:hover,
.site-navigation  a:focus,
.user-navigation  a:focus {
  color: #fb565a ;
}
.site-navigation  a:active,
.user-navigation  a:active {
  color: #a6a6a6 ;
}
.offers p{
 color: #000000 ;
 font-size: 16px;
 line-height: 18px;
 font-weight: 600;
}
.offers ul {
  list-style: none;
}
.offers-list h3 {
  font-size: 24px ;
  font-weight: 700 ;
  line-height: 30px ;
  color: #000000 ;
  text-transform: uppercase;
}
.button {
  display: inline-block;
  text-align: center;
  padding-top: 17px ;

  font-size: 16px ;
  font-weight: 600;
  line-height: 18px ;
  color: #ffffff ;
  text-transform: uppercase;

  height: 50px;
  background-color: #fb565a ;
  border: none ;
}
.button:hover {
  background-color: #e74246 ;
}
.button:active{
  background-color: #d7373b ;
  color: #e37376 ;
}
.app{
  background-color: #00ca74 ;
  }
  .app:hover {
    background-color: #00bc6c ;
  }
  .app:active{
    background-color: #00aa62 ;
    color:#4dc491 ;
  }
.pre {
  background-color: #efc849 ;
}
.pre:hover{
  background-color: #eab534 ;
}
.pre:active{
  background-color: #e5a722 ;
  color: #edc265 ;
}
 .slogan{
  font-size: 55px ;
  line-height: 55px ;
  font-weight: 600 ;
  color: #000000 ;
}
 .about .about-studio{
  font-size: 45px ;
  line-height: 45px ;
  font-weight: 600 ;
  color: #000000 ;
}
.about p{
 color: #000000 ;
 font-size: 16px;
 line-height: 18px;
 font-weight: 600;
}
.about b{
  text-transform: uppercase;
  color: #000000 ;
  font-weight: 600 ;
}
.about ul{
  list-style: none;
}
.infogr-percent {
  /*font-size: 45px ;
  line-height: 10px ;
  color: #000000 ;
  font-weight: 600 ;*/
  width: 93px;
  height: 35px;
  font-family: Roboto;
  font-size: 45px;
  font-weight: bold;
  font-style: normal;
  font-stretch: normal;
  line-height: 0.22;
  letter-spacing: normal;
  text-align: left;
  color: #000000 ;
}
.modal h2 {
  font-size: 45px ;
  line-height: 45px ;
  color: #000000 ;
  font-weight: 600;
}
.modal label {
  font-size: 16px;
  line-height: 18px;
  font-weight: 600 ;
  color:#000000 ;
}
.footer-contacts b {
  font-size: 18px ;
  line-height: 30px ;
  text-transform: uppercase;
  color: #000000 ;
}
.social ul {
  list-style: none;
}
.social-button {
  color: #000000 ;
  text-transform: uppercase;
}
.frends .profit{
  font-size: 36px ;
  font-weight:  700 ;
  line-height: 36px ;
  color: #000000 ;
}
.footer-partners a{
  opacity: 0.2 ;
}
.footer-partners a:hover,
.footer-partners a:focus{
  opacity: 1 ;
}
.footer-partners a:active {
  opacity: 0.1 ;
}
/*переопределения для каталога: */
.catalog-title{
  font-size: 55px ;
  line-height: 55px ;
  color: #000000 ;
  text-align: center;
}
.store {
  padding-bottom: 13px ;
  padding-left: 0 ;
  padding-right: 0 ;
  border-bottom: 2px solid #fb565a ;
}
.filter ul,
.sorting-option ,
.pagination ,
.catalog {
  list-style: none;
}
.pagination-item a {
  color:#000000 ;
  font-size: 16px;
  font-weight: 600;
  line-height: 18px;
  text-transform: uppercase;
}
.sorting-option .button{
  background-color: #ffffff ;
  color: #b2b2b2 ;
}
.sorting-option .sort-selected {
  color: #000000 ;
}
.sorting-option .button {
  font-size: 14px ;
  line-height: 18px;
}
.filter h3,
.sorting{
  font-size: 18px ;
  line-height: 18px ;
  font-weight: 600 ;
  text-transform: uppercase;
  color: #000000 ;
}
.show,
.pagination-item {
  color: #000000 ;
  background-color: #eeeeee ;
}
.diapason{
  text-transform: uppercase;
}
.image-pattern-hover h4 {
  font-size: 18px;
  line-height: 30px;
  font-weight: 600;
  color: #000000 ;
  text-transform: uppercase;
}

.image-pattern-hover{
  text-align: center;
  background-color: #eeeeee ;
}
/* для сетки index------------------------------------------------*/
.clearfix::after{
  content: "" ;
  clear: both;
  display: table;
}
.layout-positioner {
  width: 1200px ;
  margin-left: auto;
  margin-right: auto;
  /*border: 1px dotted green ;*/
}
.main-header{
  width: 100% ;
  min-height: 545px ;



}
.main-navigation {
  display: flex;
  width: 1200px ;
  min-height: 130px;
  margin: 0 ;
  padding: 0 ;
  justify-content: space-between;

  /*временная рамка для разметки
  border: 1px dotted red ;*/
}

.main-header-logo{
  margin-top: 48px;
  margin-left: 19px;
  margin-right: 200px ;
  padding: 0 ;
/*border: 1px dotted blue ;*/
}
.user-navigation {
  position: relative;
  display: block;
margin-top: 75px ;
margin-bottom: auto;
margin-right: 20px;
/*border: 1px dotted blue ;*/
}
.user-navigation::before {
  position: absolute;
  content: "";
  width: 15px ;
  height: 20px ;
  background-image: url(../img/cart-icon.png);
  background-repeat: no-repeat;
  background-size: contain;

  top: 7px ;
  left: 0px ;
}
.site-navigation{
  width: 440px ;
  display: flex;
  justify-content: space-between;
  margin-top: 75px ;
  margin-bottom: auto;
  margin-right: auto;
  padding: 0;
  /*border: 1px dotted blue ;*/
}

/*слайдер:*/
.slogan-container{
  display:flex;
  flex-direction: column;
  width: 1200px;
  min-height: 415px ;
  margin:  0 ;
  padding: 0 ;
  /*border: 1px dotted red ;*/
  background-image: url("../img/slide-1@2x.png");
  background-size: 700px auto;
  background-repeat: no-repeat;
  background-position-x: 448px;
  background-position-y: bottom;
}
.slogan-container .slogan{
order: -1 ;

margin-top: 62px ;
margin-left: 19px;
margin-right: auto;
margin-bottom: 0 ;
padding: 0 ;
/*border: 1px dotted blue ;*/
}
.slogan-container .button{
  margin-top: 39px;
  width: 240px ;
  margin-left: 20px;
}
.slogan-container h1{
  margin-top: 26px ;
  margin-left: 20px;
  margin-right: auto;
  margin-bottom: 0 ;
  /*border: 1px dotted blue ;*/
}

.offers{
  width: 1160px ;
  margin-top: 80px ;
  margin-left: 20px ;
  border-bottom: 2px solid #eeeeee ;
}
.offers-list {
  display: flex ;

  justify-content: space-between;
  padding: 0 ;
}
.offer-item{
  display: flex;
  flex-direction: column;
  width: 300px ;
  min-height: 347px ;
  margin-bottom: 64px ;
  /*justify-content: flex-end;*/

    /*border: 1px dotted blue ;*/
}
.offer-item h3{
  display: block;
  padding: 0 ;
  margin-bottom: 0 ;
  margin-top: 170px ;
}
.offer-item p{
  line-height: 24px ;
width: 250px ;
display: block;
margin-top: 16px ;
}
.offer-item a{
  margin-top: auto ;
}
.site-item{
  background-image: url("../img/illustration-1@3x.png");
  background-repeat: no-repeat;
  background-size: contain;
}
.app-item {
  background-image: url("../img/illustration-2@3x.png");
  background-repeat: no-repeat;
  background-size: contain;
}
.pre-item {
  margin-right: 60px ;
  background-image: url("../img/illustration-3@3x.png");
  background-repeat: no-repeat;
  background-size: contain;
}
.site,
.app,
.pre {
  width: 160px ;
}
.about {
  display: flex;
  width: 1160px ;
  border-bottom: 2px solid #eeeeee ;
  margin-top: 0px ;
  margin-left: 20px;
  padding: 0 ;
}
.about-column-1{
  display: flex;
  flex-direction: column;
  width: 660px ;

  margin-top: 73px ;
  padding: 0 ;
    /*border: 1px dotted blue ;*/
}
.about-studio {
  display:  block;

  margin-top: 0 ;
  margin-bottom: 18px ;
}
.about-column-1 .about-credo {
  line-height: 24px ;
  margin-bottom: 38px ;
}
.about-column-1 b {
  margin-bottom: 8px ;

}
.about-column-1 ul {
  display: flex;
  flex-direction: column;
  padding: 0 ;
  margin-left: 36px ;
}
.about-column-1 li {
  position: relative;
  margin-bottom: 24px ;
}
.about-column-1 li::before{
  content: "" ;
  display: block;
  position: absolute;
  top: 11px ;
  left: -36px ;
  width: 25px ;
  height: 2px ;
  background-color: #fb565a ;
}
.infogr {
  display: flex;
  flex-direction: column;
  width: 360px ;
  min-height: 430px ;
  margin-top: 40px ;
  margin-left: auto ;
  margin-bottom: 55px ;
  padding: 0 ;

  /*border: 1px dotted blue ;*/
}
.infogr img {
  width: 100% ;
  height: auto;
  margin-bottom: 35px ;
}
.infogr b {
margin-left: 16px ;
margin-bottom: 10px ;
}
.infogr ul {
  width: 360px ;
  display: flex;
  justify-content: space-between;
  padding: 0 ;
  margin: 0 ;

}
.infogr li {
width: 115px ;
padding: 0 ;
/*border: 1px dotted blue ;*/
}
.infogr li:nth-child(3){
  margin-right: 6px ;
}
.infogr .infogr-percent {
  font-size: 45px ;
  margin-bottom: 15px ;
}
.partners{
  display: flex;
  width: 1160px;
  min-height: 182px ;

  margin-top: 0 ;
  margin-left: 20px ;
  padding: 0 ;
  list-style: none;
  border-bottom: 2px solid #eeeeee ;
}
.partners .separator{
display: block;
width: 2px ;
height: 50px ;
background-color: #eeeeee ;

margin-top: 65px ;
}
.partners li:nth-child(1){
  margin-left: 30px;
  margin-right: 50px ;
  margin-top: 61px ;
}
.partners li:nth-child(3){
  margin-left: 45px;
  margin-right: 44px ;
  margin-top: 47px ;
}
.partners li:nth-child(5){
  margin-left: 56px;
  margin-right: 58px ;
  margin-top: 65px ;
}
.partners li:nth-child(7){
  margin-left: 62px;
  margin-right: auto ;
  margin-top: 52px ;
}
.footer-map {
  width: 1440px ;
  height: 420px ;
  margin-top: 80px ;
  margin-left: auto;
  margin-right: auto;
}
.footer-contacts{
  display: flex;
  flex-direction: column;

  font-weight: 400;
  position: absolute;
  width: 320px ;
  height: 305px ;
  background-color: #ffffff ;

  margin-left: 140px ;
  margin-top: 60px ;
}
.adress-post {
  margin: 50px 50px auto ;
}
.adress-post span{
  font-weight: 400;
}
.write{
  margin: auto 50px 50px;
}
.marker{
  position: absolute;
  margin-top: 80px ;
  margin-left: 820px ;
}
.social{
  display: flex;
  width: 1160px ;
  margin-left: 20px ;
  /*border: 1px dotted red ;*/
  align-items: flex-start ;
}
.social-items{
  display: flex;
  justify-content: space-between;
  align-items: flex-end ;
  width: 260px ;
  /*border: 1px dotted blue ;*/
  padding: 0 ;

}
.social-items li{
margin-top: 70px ;
}
.social-button {
  position: relative;
  font-size: 0px ;

  border: 40px solid #e1e1e1 ;
  border-radius: 50%  ;
}
.social-button:hover {
  border-color: #e74246;
}
.social-button:active {
  border-color: #d7373b;
}
.vk:active::after {
  opacity: 0.3 ;
}
.fb:active::after {
  opacity: 0.3 ;
}
.inst:active::after {
  opacity: 0.3 ;
}

.social-items .vk::after {
  display: block;
  position: absolute;
  content: "";
  width: 28px;
  height: 20px ;

  background-image: url(../img/vk-icon@2x.png);
  background-repeat: no-repeat;
  background-size: contain;

  top: -8px ;
  left: -15px ;
}
.social-items .fb::after {
  display: block;
  position: absolute;
  content: "";
  width: 12px;
  height: 40px ;

  background-image: url(../img/fb-icon@2x.png);
  background-repeat: no-repeat;
  background-size: contain;

  top: -11px ;
  left: -6px ;
}
.social-items .inst::after {
  display: block;
  position: absolute;
  content: "";
  width: 22px;
  height: 40px ;

  background-image: url(../img/insta-icon@2x.png);
  background-repeat: no-repeat;
  background-size: contain;

  top: -11px ;
  left: -12px ;
}

.frends {
  width: 550px ;
  /*border: 1px dotted blue ;*/
  margin-right: 209px ;
  margin-left: auto;
  margin-top: 0px ;
}
.profit {
  margin-top: 69px ;
  margin-bottom: 0 ;
  padding: 0 ;
}
.sale {
  margin-top: 10px ;
  padding: 0 ;
}

/* сетка каталога: */
.catalog-header {
  width: 1200px ;
  display: flex ;
  flex-direction: column ;
}
.catalog-title{
  border: 1px dotted blue ;
}
.catalog-header-title {
  order: 1 ;
}
.filter {
  width: 260px ;
  min-height: 835px ;
  border: 1px dotted red ;
}


.main-columns {
  display: flex ;
  width: 1160px ;
  justify-content: space-between;

  margin-left: auto;
  margin-right: auto;
}
.catalog-container {
  width: 760px ;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  border: 1px dotted red ;
}
.catalog {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  padding: 0 ;
}
.image-pattern-hover {
  visibility: hidden;
  position: absolute;

  width: 360px ;
  min-height: 230px ;
}
.sorting-option {
  display: flex;
  width: 360px ;
}
.show {
  width: 260px ;
  padding: 0 ;
}
.pagination {
  display: flex;
  width: 440px ;
  justify-content: space-between;
  margin-left: 0 ;
  padding: 0 ;
  border: 1px dotted blue ;
}
.next {
  width: 260px ;
}
.pagination-item {

}
